{% extends "layout.html" %}

{% block content %}
<input type="file" id="private-key">

<textarea id="secrets"
          class="w-full p-4 mt-10 border outline-none font-mono"
          style="border-color: #414667; background-color: #1D202F; color: #B2B3BA; height: 300px;"
          placeholder="Select your private key above, your decrypted secrets will appear here..."
></textarea>

<script>
    let secrets = '{{ secrets }}';
    let privateKeyInput = document.getElementById('private-key');
    let textarea = document.getElementById('secrets');
    let crypt = new JSEncrypt({default_key_size: 2048});

    privateKeyInput.onchange = function () {
        let file = privateKeyInput.files[0];
        let reader = new FileReader;
        reader.readAsText(file, 'UTF-8');
        reader.onload = function (event) {
            crypt.setPrivateKey(event.target.result);
            let decryptedSecrets = crypt.decrypt(secrets);

            if (typeof decryptedSecrets === 'boolean' && decryptedSecrets === false) {
                textarea.value = 'Unable to decrypt secrets. Please check that you\'re using the correct private key.';
            } else {
                textarea.value = decryptedSecrets;
            }

        }
    }
</script>
{% endblock %}
