{% extends "layout.html" %}

{% block content %}
<div id="enter-secrets">
    <p>You're likely here because somebody has asked you for sensitive information that they don't want exchanged over
    an insecure form of communication. When you enter the secrets below, they will be encrypted with that person's
    public key.</p>

    <form id="secrets-form" method="post">
        <textarea id="secrets"
                  class="w-full p-4 mt-10 border outline-none font-mono"
                  style="border-color: #414667; background-color: #1D202F; color: #B2B3BA; height: 300px;"
                  placeholder="Enter your secrets here..."
        ></textarea>
        <input id="submit-button"
               type="submit"
               value="Encrypt and submit secrets"
               class="p-4 mt-6 w-full border outline-none cursor-pointer"
               style="border-color: #414667; background-color: #1D202F; color: #B2B3BA;">
    </form>
</div>
<div id="thanks" class="hidden">
    <p>Thank you. Your secrets have been encrypted in your browser and submitted. The person who requested your
    secrets will now be able to securely decrypt the secrets using their private key.</p>
</div>

<script>
    let uuid = '{{ uuid }}';
    let body = document.getElementsByTagName("body")[0];
    let enterSecrets = document.getElementById('enter-secrets');
    let thanks = document.getElementById('thanks');
    let publicKey = '';
    let form = document.getElementById('secrets-form');
    let textarea = document.getElementById('secrets');
    let submitButton = document.getElementById('submit-button');

    window.onload = function () {
        fetch('https://s3.amazonaws.com/secrets.host/links/' + uuid + '/public_key.pub').then(function(response) {
            // todo: check if 404, if so this link doesn't exist
            return response.text();
        }).then(function(response) {
            publicKey = response;
        });
    };

    form.addEventListener('submit', function (event) {
        event.preventDefault();

        let crypt = new JSEncrypt({default_key_size: 2048});
        crypt.setPublicKey(publicKey);

        submitButton.disabled = true;
        submitButton.style.cursor = 'wait';
        submitButton.value = 'Encrypting and submitting secrets...';
        body.style.cursor = 'wait';

        let encryptedSecrets = crypt.encrypt(textarea.value);

        fetch('/api/links/' + uuid + '/secrets', {
            method: 'POST',
            headers: {
                'content-type': 'application/json'
            },
            body: JSON.stringify({
                secrets: encryptedSecrets
            })
        }).then(function() {
            enterSecrets.style.display = 'none';
            thanks.style.display = 'block';
            body.style.cursor = 'auto';
        });
    });
</script>
{% endblock %}
